.main{
  padding: 15px;
}

.table{
  width: 100%;
}

.table tr th{
  border: 1px solid white;
  background: #fb1;
  padding: 5px 15px;

}

.table tr td{
  border: 1px solid #fb1;
  background: white;
  text-align: center;
}